:root {
    --mainBackground: #ffe79a;
    --secondColor: #ffa952;
    --bulletColor:#ef845a;
    --bulletDark: #b64a2f;
    --fontColor: #feffdf;
    --headlineColor: #f56440;

    font-family: "Caveat", "Handlee", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-size: clamp(1rem, 0.7rem + 1.2vw, 3.2rem);
    background-color: var(--mainBackground);
    color: var(--fontColor);
}

body.dimmed::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }


.allContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
    align-items: center;
    
    overflow: hidden;

}

.content {
    flex-grow: 1;
    overflow-y: auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
    min-height: 30vh;
    width: 100%;


}

ul {
    width: 50vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.logo {
    width: clamp(250px, 60vw, 60vh);
    position: relative;
}

.logoText {
    fill: var(--headlineColor);
    font-size: 2.2rem;
    font-weight: bold;
    text-shadow: 0.15rem 0.2rem 0.1rem #ffa144;
}

#curve {
    fill: transparent;
}

.spit {
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.contentL, .contentS{
    margin-top: 1.5rem;
    width: clamp(300px, 80vw, 95vh);
    height: 60vh;
    padding: 1rem;
    position: relative;
    overflow: auto;
    scrollbar-color: var(--bulletDark) var(--secondColor);

    background-color: var(--bulletColor);
    border: 0.5rem solid var(--bulletDark);

    box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.75);


}


.contentS {
    margin: 1rem;
    padding: 0.2rem;
    height: fit-content;
    overflow: visible;
    margin-bottom: 1rem;
    border: 0.2rem solid var(--bulletDark);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    font-size: calc(var(--base-size) * 0.4);
}

.contentS a {
    text-decoration: none;
    color: white;
}

.contentImage {
    float: left;
    width: max(100px, 40%);
    margin: 1rem;    
    cursor: pointer;
    padding: 0.175rem;
    border: 0.2rem solid var(--bulletDark);
}

.contentImage.enlarged {
    position: fixed; 
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-width: 85%; 
    max-height: 85%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  .streetview
  {
    width: max(100px, 40%);
    margin: 1rem;    
    cursor: pointer;
    padding: 0.175rem;
    border: 0.2rem solid var(--bulletDark);
  }

.contentText {
    text-align: justify;
    /* font-size:  clamp(0.8rem, 2.1vw, 1.5rem);  */
    font-size: calc(var(--base-size) * 0.76);

}

p {
    margin-bottom: 1rem;
}


.navButton {
    padding: 0.45rem 0.45rem;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: var(--base-size);
    border: none;
    cursor: pointer;
    color: var(--fontColor);
    background-color: var(--secondColor);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.62);
}

.navButton:hover {
    background-color: var(--fontColor);
    color: var(--secondColor);
}
.navButton:active {
    background-color: #ffc06e;
    color: var(--fontColor);
}



.menuGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center; 
    height: auto;
    width: 90vw;
    margin: 1.5rem;
}

.imageCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    align-self: center;
    justify-self: center;
    margin: 0rem 2rem;
}





.imageCard img {
    border: 0.2rem solid var(--bulletColor);
    width: 35%;
}
.imageCard img:first-child {
    /* margin-right: auto;  */
}

.card{
    background-image: url( 'shapeS.svg' );
    background-repeat: no-repeat;
    background-size: 100% 250%;
    width: calc(var(--base-size) * 16);
   height: calc(var(--base-size) * 5.5); 
   background-position-y: 15%;
   -webkit-filter: drop-shadow( 1px 1px 5px rgba(0, 0, 0, .7));
  filter: drop-shadow( 1px 1px 5px rgba(0, 0, 0, .7))
}

@media screen and (max-width: 800px) {
    .menuGrid {
        width: 95vw;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin: 0;
        padding: 0;
    }
    .imageCard img {
        width: 100px;
    }
    .card {
        width: 85vw;
    }
}
.aboutGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: end;
    height: 100%;
}



.textAndSocials {
margin: 1rem;
align-self: center;
justify-self: end;
}


.contentText.small{
    margin: 0;
    line-height: calc(var(--base-size) * 0.4);
}

.textAndSocials .contentText {
    font-size: calc(var(--base-size) * 0.65);
    text-align: right;

}

#address {
    line-height: calc(var(--base-size) * 0.6);
    justify-self: start;
    align-self: center;
    margin: 1rem;
}

.aboutGrid img {
  width: max(100px, 65%);
}

.aboutGrid #outside {
    justify-self: start;
    align-self: start;
    margin-top: 0;
}
.aboutGrid #address{
    justify-self: start;
}
.aboutGrid #streetview{
    margin-left: auto;
    align-self: end;
    justify-self: end;
}


.socials{
    display: flex;
    flex-direction: row;
    justify-content: end;
     align-items: end;
    align-self: flex-end; 
    gap: 0.5rem;
    margin-top: 0.5rem;
}
.socialIcon {
    max-width: 20%;
    cursor: pointer;
    padding: 0.5rem;
    padding: 0;
}




