:root {
    --mainColor: #ffe79a;
    --secondColor: #ffa952;
    --bulletColor:#ef5a5a;
    --fontColor: #feffdf;

    font-family: "Caveat", "Handlee", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-size: clamp(1rem, 1rem + 0.8vw, 3.2rem);
}
.allContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
    align-items: center;
    background-color: var(--mainColor);
    color: var(--fontColor);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
    height: 30vh;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.logo {
    width: clamp(250px, 60vw, 60vh);
    position: relative;
    margin-top: 1rem;
}

.logoText {
    fill: var(--bulletColor);
    font-size: 2.2rem;
    font-weight: bold;
    text-shadow: 0.15rem 0.2rem 0.1rem #ffa144;
}

#curve {
    fill: transparent;
}

.spit {
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.content {
    width: 80vw;
    height: 70vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.shape {
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--base-size);
    text-align: center;
}


/* #contentL{
    background-image: url( 'shapeL.svg' );
    background-position: 50% 0%;
    background-size:  50vh 100vw;
    
} */

#contentS{
    background-image: url( 'shapeS.svg' );
    background-position: 50% 10%;
    background-size:  50%;
}

button {
    padding: 0.3rem 0.5rem;
    border-radius: 0.75vw;
    /* width: 12vw; */
    font-size: var(--base-size);
    border: none;
    cursor: pointer;
    color: var(--fontColor);
    background-color: var(--secondColor);
}

button:hover {
    background-color: var(--fontColor);
    color: var(--secondColor);
}
button:active {
    background-color: #ffc06e;
    color: var(--fontColor);
}